@import url("https://fonts.googleapis.com/css2?family=Rokkitt:wght@300;400&family=Work+Sans:ital,wght@0,600;1,700&display=swap");
:root {
  --color-primary-text: #ffde7d;
  --color-primary: #ffc93c;
  --color-white: #f6f6f6;
  --color-black: #212121;
  --color-grey: #3a4750;
  --swiper-theme-color: #ffc93c; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 10px; }
  @media screen and (max-width: 1100px) {
    html {
      font-size: 9px; } }
  @media screen and (max-width: 850px) {
    html {
      font-size: 9px; } }
  @media screen and (max-width: 575px) {
    html {
      font-size: 8px; } }

body {
  position: relative;
  line-height: 1.6;
  font-family: "Rokkitt", serif;
  font-weight: 300;
  box-sizing: border-box;
  background-color: #fff; }

section, header, main, footer {
  max-width: 100vw; }

button {
  user-select: none; }

:target::before {
  content: "";
  display: block;
  height: 11rem;
  /* fixed header height*/
  margin: -11rem 0 0;
  /* negative fixed header height */ }

.heading {
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 5rem;
  letter-spacing: 1px;
  color: var(--color-white); }
  .heading-soft {
    text-transform: uppercase;
    font-family: "Work Sans", sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: var(--color-white); }

.heading-secondary {
  text-align: center; }
  .heading-secondary > span {
    font-family: "Work Sans", sans-serif;
    display: block;
    text-transform: uppercase;
    line-height: 1;
    text-align: center; }
  .heading-secondary--sub {
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--color-primary);
    letter-spacing: 5px; }
  .heading-secondary--main {
    font-weight: 700;
    font-size: 4rem;
    line-height: 1.2 !important;
    letter-spacing: 1px; }

.heading-testimonials {
  text-align: center; }
  .heading-testimonials > span {
    font-family: "Work Sans", sans-serif;
    display: block;
    text-transform: uppercase;
    line-height: 1;
    text-align: center; }
  .heading-testimonials--sub {
    font-weight: 600;
    font-size: 1.4rem;
    color: var(--color-white);
    letter-spacing: 5px; }
  .heading-testimonials--main {
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.2 !important;
    letter-spacing: 2px;
    color: var(--color-white); }

.heading-footer {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px; }

.heading-design {
  display: block;
  width: 5rem;
  height: 2.1rem;
  margin: 1rem auto 0;
  text-align: center; }

.para {
  font-size: 1.4rem;
  text-align: center;
  letter-spacing: 1px; }

.i-s {
  width: 2.1rem;
  height: 2.1rem;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round; }

.i-s2 {
  fill: var(--color-primary); }

.i-white {
  stroke: var(--color-white); }

.btn-header {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  background-color: transparent;
  color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: 10rem;
  text-align: center;
  min-width: 18rem;
  transition: all .3s; }
  .btn-header:hover, .btn-header:focus {
    background-color: var(--color-white);
    color: var(--color-black);
    transform: translateY(-2px);
    box-shadow: 0 0.25rem 0.5rem rgba(90, 90, 90, 0.2); }
  .btn-header:active {
    transform: translateY(0); }

.btn-project {
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: 18rem;
  margin: 0 auto;
  padding: 1.5rem 1.7rem 1.4rem;
  background-color: #373737;
  color: var(--color-white);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  border-radius: 10rem;
  box-shadow: 0 0.1rem 0.2rem rgba(48, 56, 65, 0.5);
  transition: all .3s;
  backface-visibility: hidden; }
  .btn-project:hover, .btn-project:focus {
    background-color: var(--color-black);
    transform: translateY(-2px);
    box-shadow: 0 0.5rem 1rem rgba(48, 56, 65, 0.3); }
  .btn-project:active {
    transform: translateY(0);
    box-shadow: 0 0.1rem 0.2rem rgba(48, 56, 65, 0.5); }

.btn-services {
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.3rem 2rem 1.2rem;
  background-color: var(--color-primary-text);
  color: var(--color-black);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  border-radius: 10rem;
  box-shadow: 0 0.1rem 0.2rem rgba(48, 56, 65, 0.5);
  transition: all .3s;
  backface-visibility: hidden; }
  .btn-services:hover, .btn-services:focus {
    background-color: var(--color-primary);
    transform: translateY(-2px);
    box-shadow: 0 0.5rem 1rem rgba(48, 56, 65, 0.3); }
  .btn-services:active {
    transform: translateY(0);
    box-shadow: 0 0.1rem 0.2rem rgba(48, 56, 65, 0.5); }

.project-container {
  width: calc(100% - 6rem);
  margin: 0 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 3rem;
  justify-content: center; }
  @media screen and (max-width: 1100px) {
    .project-container {
      grid-template-columns: repeat(3, 1fr); } }
  @media screen and (max-width: 850px) {
    .project-container {
      width: initial;
      grid-template-columns: repeat(2, 30rem); } }
  @media screen and (max-width: 575px) {
    .project-container {
      width: initial;
      grid-template-columns: repeat(1, 30rem); } }

.project-card {
  max-width: 30rem;
  height: 24rem;
  background-color: var(--color-grey);
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(48, 56, 65, 0.2); }
  .project-card--1 {
    background: url(../images/card1.jpeg) no-repeat center;
    background-size: cover; }
  .project-card--2 {
    background: url(../images/card2.jpeg) no-repeat center;
    background-size: cover; }
  .project-card--3 {
    background: url(../images/card3.jpeg) no-repeat center;
    background-size: cover; }
  .project-card--4 {
    background: url(../images/card4.jpeg) no-repeat center;
    background-size: cover; }
  .project-card--5 {
    background: url(../images/card5.jpeg) no-repeat center;
    background-size: cover; }
  .project-card--6 {
    background: url(../images/card6.jpeg) no-repeat center;
    background-size: cover; }
  .project-card--7 {
    background: url(../images/card7.jpeg) no-repeat center;
    background-size: cover; }
  .project-card--8 {
    background: url(../images/card8.jpeg) no-repeat center;
    background-size: cover; }

.project-desc {
  position: absolute;
  bottom: -1.3rem;
  margin: 0 2rem;
  width: calc(100% - 4rem);
  background-color: var(--color-white);
  padding: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(48, 56, 65, 0.2);
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.project-num {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  color: var(--color-grey);
  margin-right: .5rem;
  line-height: 1; }

.project-info {
  color: var(--color-black); }
  .project-info > span {
    display: block;
    line-height: 1;
    font-family: "Rokkitt", serif;
    font-weight: 400; }
  .project-info-title {
    text-transform: uppercase;
    font-size: 1.6rem; }
  .project-info-tags {
    font-size: 1.2rem; }

.swiper-slide-prev, .swiper-slide-next {
  opacity: 0 !important; }

.swiper-button-next, .swiper-button-prev {
  font-size: 3rem;
  line-height: 1;
  height: 3rem; }
  .swiper-button-next svg, .swiper-button-prev svg {
    width: 3rem;
    height: 3rem; }
  .swiper-button-next:before, .swiper-button-next:after, .swiper-button-prev:before, .swiper-button-prev:after {
    content: ""; }

.testimonial-message {
  max-width: 60rem;
  margin: 2rem auto;
  color: var(--color-white); }
  @media screen and (max-width: 850px) {
    .testimonial-message {
      margin: 2rem 10rem 4rem; } }

.testimonial-client {
  text-align: center;
  font-size: 1.7rem; }
  .testimonial-client .client {
    text-transform: uppercase;
    color: var(--color-primary); }

.footer {
  background-color: var(--color-black);
  color: var(--color-white);
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .footer__option {
    flex: 0 0 calc(30% - 1.5rem);
    margin: 1.5rem;
    min-width: 30rem; }
    .footer__option--content {
      padding: 2rem;
      text-align: center; }
      .footer__option--content > * {
        font-size: 1.7rem;
        color: var(--color-white);
        letter-spacing: 1px; }
      .footer__option--content > a {
        color: var(--color-white);
        text-decoration: none;
        display: inline-block;
        transition: color .3s;
        margin-top: 1rem;
        line-height: 1.2; }
        .footer__option--content > a:hover, .footer__option--content > a:focus {
          color: var(--color-primary); }
      .footer__option--content-social > a {
        display: inline-block;
        width: 3rem;
        height: 3rem;
        transition: transform .3s; }
        .footer__option--content-social > a:not(:last-child) {
          margin-right: 2rem; }
        .footer__option--content-social > a:hover, .footer__option--content-social > a:focus {
          text-decoration: none;
          border: none;
          transform: scale(1.15); }
        .footer__option--content-social > a svg {
          width: 3rem;
          height: 3rem;
          stroke-width: 1; }

.footer-copy {
  background-color: #121212;
  color: var(--color-grey);
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 5rem;
  font-family: "Rokkitt", serif;
  font-weight: 300;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.copyrights--cta a {
  text-decoration: none;
  color: var(--color-white);
  transition: color .3s; }
  .copyrights--cta a:hover, .copyrights--cta a:focus {
    text-decoration: none;
    color: var(--color-primary); }

.header {
  width: 100%;
  min-height: 100vh;
  background-color: #eee;
  background: url(../images/bg.jpeg) no-repeat center;
  background-size: cover;
  position: relative; }
  @media screen and (max-width: 850px) {
    .header {
      min-height: 90vh; } }
  @media screen and (max-width: 575px) {
    .header {
      min-height: 75vh; } }
  .header__info {
    background-color: rgba(255, 201, 60, 0.85);
    width: 52rem;
    min-height: 30rem;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 7rem 5rem 5rem;
    -webkit-clip-path: polygon(0 0, 60% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 60% 0, 100% 100%, 0% 100%); }
    @media screen and (max-width: 575px) {
      .header__info {
        width: 39rem;
        padding: 5rem 3rem 3rem; } }
    .header__info > p, .header__info > h1 {
      line-height: 1.1; }
    .header__info--title {
      margin-right: 30%; }
    .header__info--cta {
      display: inline-block;
      line-height: 1;
      margin-top: 1.5rem; }

.navigation {
  position: fixed;
  top: 0;
  z-index: 2000;
  box-shadow: 0 1rem 2rem rgba(48, 56, 65, 0.3);
  width: calc(100% - 6rem);
  padding: 1rem 4rem 1rem 2rem;
  background-color: var(--color-black);
  color: var(--color-white);
  margin: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 850px) {
    .navigation {
      flex-wrap: wrap; } }
  .navigation__brand {
    flex: 0 0 15rem;
    padding: 1rem 0;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    line-height: 1;
    align-self: center; }
  .navigation__mobile-btn {
    display: none; }
    .navigation__mobile-btn > label {
      display: inline-flex; }
    .navigation__mobile-btn svg {
      width: 3rem;
      height: 3rem;
      transform: rotate(-90deg);
      cursor: pointer;
      transition: all .3s; }
    @media screen and (max-width: 850px) {
      .navigation__mobile-btn {
        display: inline-flex; } }
  .navigation__list {
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: height .3s, margin-top .3s; }
    @media screen and (max-width: 850px) {
      .navigation__list {
        height: 0;
        flex: 0 0 100%;
        flex-wrap: wrap; } }
    .navigation__list > a {
      display: inline-block;
      padding: 1rem 0 1rem 1rem;
      margin-right: 1rem;
      font-size: 2rem;
      text-decoration: none;
      color: var(--color-white);
      transition: color .3s; }
      .navigation__list > a:hover, .navigation__list > a:focus {
        color: var(--color-primary); }
      @media screen and (max-width: 850px) {
        .navigation__list > a {
          flex: 0 0 100%;
          text-align: right; } }
  .navigation__input:checked ~ .navigation__list {
    border-top: 1px solid var(--color-grey);
    height: 25.5rem;
    margin-top: 1rem; }

.brand__head {
  display: block;
  font-size: 4rem;
  line-height: .8;
  text-transform: uppercase;
  letter-spacing: 4px; }

.brand__sub {
  display: block;
  font-size: 1.3rem;
  letter-spacing: 1px; }
  .brand__sub > span {
    color: red; }

.about {
  max-width: 60rem;
  min-height: 50vh;
  margin: 0 auto;
  padding: 0 5rem 5rem;
  text-align: center; }
  .about__icons {
    margin-bottom: 2rem;
    margin-top: 5rem; }
    .about__icons svg {
      width: 5rem;
      height: 5rem;
      stroke: var(--color-primary);
      stroke-width: 1.5; }
      .about__icons svg:not(:last-child) {
        margin-right: 1rem; }
  .about__text {
    font-size: 1.7rem; }

.projects-box {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 3rem 0 4rem; }

.projects__cta {
  display: block; }

.testmonials {
  min-height: 50vh;
  margin-top: 4rem;
  background-image: linear-gradient(to right, rgba(48, 56, 65, 0.8), rgba(48, 56, 65, 0.8)), url(../images/testimonial_bg.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 3rem 0 0; }

.swiper-container {
  width: 100%;
  min-height: 30vh; }

.swiper-slide {
  background-position: center;
  background-size: cover; }

.services {
  min-height: 50vh;
  width: 100%; }
  .services__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 0; }
    .services__nav--link {
      display: inline-flex;
      font-size: 1.7rem;
      font-family: "Rokkitt", serif;
      font-weight: 400;
      padding: .5rem 2rem;
      margin: .5rem;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      color: var(--color-black);
      letter-spacing: 1px;
      border: 1px solid var(--color-grey);
      transition: background-color .3s, color .3s; }
      .services__nav--link.active, .services__nav--link.active:hover, .services__nav--link.active:focus {
        background-color: var(--color-black);
        color: var(--color-white); }
      .services__nav--link:hover, .services__nav--link:focus {
        background-color: var(--color-grey);
        color: var(--color-white); }
  .services__details {
    margin: 5rem;
    min-height: 50vh;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    gap: 3rem;
    justify-content: center; }
    @media screen and (max-width: 575px) {
      .services__details {
        grid-template-columns: repeat(1, 1fr); } }
    .services__details--img {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50vh; }
      .services__details--img img {
        height: 100%;
        max-width: 100%; }
    .services__details--info {
      font-size: 1.7rem;
      padding-right: 2rem; }
      @media screen and (max-width: 575px) {
        .services__details--info {
          padding-right: 0;
          text-align: justify; } }
      .services__details--info p {
        margin-bottom: 3rem; }

.ruler__design {
  width: 100%;
  height: 5rem;
  background: url(../images/ruler_lines.svg) repeat-x center;
  background-size: contain; }

.ruler__design-footer {
  width: 100%;
  height: 3rem;
  background: url(../images/ruler_lines-color.svg) repeat-x center;
  background-size: contain;
  margin-bottom: 5rem; }
