.btn-header{
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 1rem 2rem;
	font-family: $font-1;
	font-weight: 600;
	font-size: 1.4rem;
	background-color: transparent;
	color: var(--color-white);
	border: 2px solid var(--color-white);
	border-radius: 10rem;
	text-align: center;
	min-width: 18rem;
	transition: all .3s;

	&:hover,&:focus{
		background-color: var(--color-white);
		color: var(--color-black);
		transform: translateY(-2px);
		box-shadow: 0 .25rem .5rem rgba(90,90,90,.2);
	}
	&:active{
		transform: translateY(0);
	}
}

.btn-project{
	line-height: 1;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	width: 18rem;
	margin: 0 auto;
	padding: 1.5rem 1.7rem 1.4rem;
	background-color: rgba(55,55,55,1);
	color: var(--color-white);
	text-align: center;
	font-size: 1.4rem;
	font-weight: 400;
	border-radius: 10rem;
	box-shadow: 0 .1rem .2rem rgba($color-black,.5);
	transition: all .3s;
	backface-visibility: hidden;

	&:hover,&:focus{
		background-color: var(--color-black);
		transform: translateY(-2px);
		box-shadow: 0 .5rem 1rem rgba($color-black,.3);
	}
	&:active{
		transform: translateY(0);
		box-shadow: 0 .1rem .2rem rgba($color-black,.5);
	}
}

.btn-services{
	display: inline-block;
	line-height: 1;
	text-decoration: none;
	text-transform: uppercase;
	padding: 1.3rem 2rem 1.2rem;
	background-color: var(--color-primary-text);
	color: var(--color-black);
	text-align: center;
	font-size: 1.4rem;
	font-weight: 400;
	border-radius: 10rem;
	box-shadow: 0 .1rem .2rem rgba($color-black,.5);
	transition: all .3s;
	backface-visibility: hidden;

	&:hover,&:focus{
		background-color: var(--color-primary);
		transform: translateY(-2px);
		box-shadow: 0 .5rem 1rem rgba($color-black,.3);
	}
	&:active{
		transform: translateY(0);
		box-shadow: 0 .1rem .2rem rgba($color-black,.5);
	}
}