.project{
	&-container{
		width: calc(100% - 6rem);
		// height: 24rem;
		margin: 0 3rem;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
		gap: 3rem;
		justify-content: center;

		@include respond(tab-land){
			grid-template-columns: repeat(3, 1fr);
		}
		@include respond(tab){
			width: initial;
			grid-template-columns: repeat(2, 30rem);
		}
		@include respond(phone){
			width: initial;
			grid-template-columns: repeat(1, 30rem);
		}
	}

	&-card{
		max-width: 30rem; // test
		height: 24rem;
		background-color: var(--color-grey);
		position: relative;
		box-shadow: 0 .5rem 1rem rgba($color-black, .2);

		&--1{
			background: url(../images/card1.jpg) no-repeat center;
			background-size: cover;
		}
		&--2{
			background: url(../images/card2.jpg) no-repeat center;
			background-size: cover;
		}
		&--3{
			background: url(../images/card3.jpg) no-repeat center;
			background-size: cover;
		}
		&--4{
			background: url(../images/card4.jpg) no-repeat center;
			background-size: cover;
		}
	}
	&-desc{
		position: absolute;
		bottom: -1.3rem;
		margin: 0 2rem;
		width: calc(100% - 4rem);
		background-color: var(--color-white);
		padding: 1rem;
		box-shadow: 0 .5rem 1rem rgba($color-black, .2);
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}
	&-num{
		font-family: $font-1;
		font-weight: 700;
		font-size: 4rem;
		color: var(--color-grey);
		margin-right: .5rem;
		line-height: 1;
	}
	&-info{
		color: var(--color-black);
		& > span{
			display: block;
			line-height: 1;
			font-family: $font-2;
			font-weight: 400;
		}
		&-title{
			text-transform: uppercase;
			font-size: 1.6rem;
		}
		&-tags{
			font-size: 1.2rem;
		}
	}
}