.swiper-slide-prev,.swiper-slide-next{
	opacity: 0 !important;
}
.swiper-button-next,.swiper-button-prev{
	font-size: 3rem;
	line-height: 1;
	height: 3rem;

	svg{
		width: 3rem;
		height: 3rem;
	}

	&:before,&:after{
		content: "";
	}
}

.testimonial-message{
	max-width: 60rem;
	margin: 2rem auto;
	color: var(--color-white);

	@include respond(tab){
		margin: 2rem 10rem 4rem;
	}
}
.testimonial-client{
	text-align: center;
	font-size: 1.7rem;
	& .client{
		text-transform: uppercase;
		color: var(--color-primary);
	}
}
