* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 10px;

    @include respond(tab-land){
        font-size: 9px;
    }
    @include respond(tab){
        font-size: 9px;
    }
    @include respond(phone){
        font-size: 8px;
    }
}
body {
    position: relative;
    line-height: 1.6;
    font-family: $font-2;
    font-weight: 300;
    box-sizing: border-box;
    background-color: #fff;
}
section,header,main,footer{
    max-width: 100vw;
}
button{
    user-select: none;
}

::-moz-selection {
    background-color: #FF8B24;
    color: var(--color-white);
}

::selection {
    background-color: #FF8B24;
    color: var(--color-white);
}




