.i-s{
  width: 2.1rem;
  height: 2.1rem;
  fill: none;
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.i-s2{
  fill: var(--color-primary);
}
.i-white{
  stroke: var(--color-white);
}