.ruler__design{
	width: 100%;
	height: 5rem;
	background: url(../images/ruler_lines.svg) repeat-x center;
	background-size: contain;
}
.ruler__design-footer{
    width: 100%;
    height: 3rem;
    background: url(../images/ruler_lines-color.svg) repeat-x center;
    background-size: contain;
    margin-bottom: 5rem;
}
